@import "bootstrap";

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}


section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

.cms_jumbotron {
  background-image: url(image-path("roses.jpg"));
  color: #FFEBCD;
  background-size: cover;
  text-align: center;
  text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
}

.website_jumbotron {
  color: grey;
  background-size: cover;
  text-align: center;
}

.cms-heading{
  color: #006666;
}

#forgot-pass-link{
  text-decoration: none;
}

#forgot-pass-link:hover{
  background-color: transparent;
  color: #006666;
}

.login-btn{
  width: 7em;
  text-shadow: none;
}

#navitem-select{
  width: 15em;
}

#or{
  font-size: 2em;
  text-shadow: none;
}

.nikofe-input:focus{   
  border-color: #7CA691;
  box-shadow:  0px 0px 5px 2px #7CA691;
  outline: 0 none;
}






